<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Service.module.business.scheduleTime.dao.ScheduleTimeDao">

    <resultMap id="ScheduleTimeVO" type="Service.module.business.scheduleTime.domain.vo.ScheduleTimeVO"></resultMap>
    <resultMap id="ScheduleTimeExcelVO" type="Service.module.business.scheduleTime.domain.vo.ScheduleTimeExcelVO"></resultMap>


    <select id="queryByPage" resultMap="ScheduleTimeVO">
        select
          id,
          day,
          start_time,
          end_time
        from e_schedule_time
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.day != null and queryDTO.day != ''">
                AND INSTR(day,#{queryDTO.day})
            </if>
            <if test="queryDTO.startTime != null and queryDTO.startTime != ''">
                AND INSTR(start_time,#{queryDTO.startTime})
            </if>
            <if test="queryDTO.endTime != null and queryDTO.endTime != ''">
                AND INSTR(end_time,#{queryDTO.endTime})
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryAllExportData" resultMap="ScheduleTimeExcelVO">
        select
           id,
           day,
           start_time,
           end_time
        from e_schedule_time
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.day != null and queryDTO.day != ''">
                AND INSTR(day,#{queryDTO.day})
            </if>
            <if test="queryDTO.startTime != null and queryDTO.startTime != ''">
                AND INSTR(start_time,#{queryDTO.startTime})
            </if>
            <if test="queryDTO.endTime != null and queryDTO.endTime != ''">
                AND INSTR(end_time,#{queryDTO.endTime})
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryBatchExportData" resultMap="ScheduleTimeExcelVO">
        select
         id,
         day,
         start_time,
         end_time
        from e_schedule_time
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteById">
        delete from e_schedule_time where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from e_schedule_time where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>